ConsoleApplication1/Service References/ServiceReference1/AzureStorage.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AzureStorage" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52045/Services/AzureStorage.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52045/Services/AzureStorage.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52045/Services/AzureStorage.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
      <xsd:import schemaLocation="http://localhost:52045/Services/AzureStorage.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Microsoft.WindowsAzure.StorageClient" />
      <xsd:import schemaLocation="http://localhost:52045/Services/AzureStorage.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAzureStorage_AddMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMessage" />
  </wsdl:message>
  <wsdl:message name="IAzureStorage_AddMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IAzureStorage_GetStationsGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsGroups" />
  </wsdl:message>
  <wsdl:message name="IAzureStorage_GetStationsGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IAzureStorage_GetStations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStations" />
  </wsdl:message>
  <wsdl:message name="IAzureStorage_GetStations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsResponse" />
  </wsdl:message>
  <wsdl:message name="IAzureStorage_GetResults_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResults" />
  </wsdl:message>
  <wsdl:message name="IAzureStorage_GetResults_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResultsResponse" />
  </wsdl:message>
  <wsdl:message name="IAzureStorage_CreateGrid_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGrid" />
  </wsdl:message>
  <wsdl:message name="IAzureStorage_CreateGrid_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGridResponse" />
  </wsdl:message>
  <wsdl:message name="IAzureStorage_UploadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="IAzureStorage_UploadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="IAzureStorage_CalculateGeometry_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateGeometry" />
  </wsdl:message>
  <wsdl:message name="IAzureStorage_CalculateGeometry_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateGeometryResponse" />
  </wsdl:message>
  <wsdl:message name="IAzureStorage_DeleteStation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStation" />
  </wsdl:message>
  <wsdl:message name="IAzureStorage_DeleteStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStationResponse" />
  </wsdl:message>
  <wsdl:portType name="IAzureStorage">
    <wsdl:operation name="AddMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IAzureStorage/AddMessage" message="tns:IAzureStorage_AddMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAzureStorage/AddMessageResponse" message="tns:IAzureStorage_AddMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStationsGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IAzureStorage/GetStationsGroups" message="tns:IAzureStorage_GetStationsGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAzureStorage/GetStationsGroupsResponse" message="tns:IAzureStorage_GetStationsGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStations">
      <wsdl:input wsaw:Action="http://tempuri.org/IAzureStorage/GetStations" message="tns:IAzureStorage_GetStations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAzureStorage/GetStationsResponse" message="tns:IAzureStorage_GetStations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResults">
      <wsdl:input wsaw:Action="http://tempuri.org/IAzureStorage/GetResults" message="tns:IAzureStorage_GetResults_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAzureStorage/GetResultsResponse" message="tns:IAzureStorage_GetResults_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGrid">
      <wsdl:input wsaw:Action="http://tempuri.org/IAzureStorage/CreateGrid" message="tns:IAzureStorage_CreateGrid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAzureStorage/CreateGridResponse" message="tns:IAzureStorage_CreateGrid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IAzureStorage/UploadFile" message="tns:IAzureStorage_UploadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAzureStorage/UploadFileResponse" message="tns:IAzureStorage_UploadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateGeometry">
      <wsdl:input wsaw:Action="http://tempuri.org/IAzureStorage/CalculateGeometry" message="tns:IAzureStorage_CalculateGeometry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAzureStorage/CalculateGeometryResponse" message="tns:IAzureStorage_CalculateGeometry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IAzureStorage/DeleteStation" message="tns:IAzureStorage_DeleteStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAzureStorage/DeleteStationResponse" message="tns:IAzureStorage_DeleteStation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAzureStorage" type="tns:IAzureStorage">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddMessage">
      <soap:operation soapAction="http://tempuri.org/IAzureStorage/AddMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStationsGroups">
      <soap:operation soapAction="http://tempuri.org/IAzureStorage/GetStationsGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStations">
      <soap:operation soapAction="http://tempuri.org/IAzureStorage/GetStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResults">
      <soap:operation soapAction="http://tempuri.org/IAzureStorage/GetResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGrid">
      <soap:operation soapAction="http://tempuri.org/IAzureStorage/CreateGrid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/IAzureStorage/UploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateGeometry">
      <soap:operation soapAction="http://tempuri.org/IAzureStorage/CalculateGeometry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStation">
      <soap:operation soapAction="http://tempuri.org/IAzureStorage/DeleteStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AzureStorage">
    <wsdl:port name="BasicHttpBinding_IAzureStorage" binding="tns:BasicHttpBinding_IAzureStorage">
      <soap:address location="http://localhost:52045/Services/AzureStorage.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>