CloudQuakeClient/Service References/CloudQuake/Storage.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Storage" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64737/Services/Storage.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64737/Services/Storage.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64737/Services/Storage.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
      <xsd:import schemaLocation="http://localhost:64737/Services/Storage.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStorage_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IStorage_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IStorage_AddEventMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEventMessage" />
  </wsdl:message>
  <wsdl:message name="IStorage_AddEventMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEventMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IStorage_GetStationPartitions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStationPartitions" />
  </wsdl:message>
  <wsdl:message name="IStorage_GetStationPartitions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationPartitionsResponse" />
  </wsdl:message>
  <wsdl:portType name="IStorage">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorage/DoWork" message="tns:IStorage_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorage/DoWorkResponse" message="tns:IStorage_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEventMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorage/AddEventMessage" message="tns:IStorage_AddEventMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorage/AddEventMessageResponse" message="tns:IStorage_AddEventMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStationPartitions">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorage/GetStationPartitions" message="tns:IStorage_GetStationPartitions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorage/GetStationPartitionsResponse" message="tns:IStorage_GetStationPartitions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStorage" type="tns:IStorage">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IStorage/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEventMessage">
      <soap:operation soapAction="http://tempuri.org/IStorage/AddEventMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStationPartitions">
      <soap:operation soapAction="http://tempuri.org/IStorage/GetStationPartitions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Storage">
    <wsdl:port name="BasicHttpBinding_IStorage" binding="tns:BasicHttpBinding_IStorage">
      <soap:address location="http://localhost:64737/Services/Storage.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>