CloudQuakeClient/Service References/CloudQuake/Storage2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="QuakeMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Depth" type="xs:double" />
      <xs:element minOccurs="0" name="Dip" type="xs:double" />
      <xs:element minOccurs="0" name="EventID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaultType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lat" type="xs:double" />
      <xs:element minOccurs="0" name="Lon" type="xs:double" />
      <xs:element minOccurs="0" name="Magnitude" type="xs:double" />
      <xs:element minOccurs="0" name="StationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StationsGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stress" type="xs:double" />
      <xs:element minOccurs="0" name="Strike" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuakeMessage" nillable="true" type="tns:QuakeMessage" />
</xs:schema>